* {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
  display: flex;
}

#root {
  background: #111;
  height: 99vh;
  margin: auto;
  width: 100%;
}

canvas {
  height: 100%;
  width: 100%;
}
